apiVersion: v1
kind: PersistentVolume
metadata:
  name: ammara-mysql-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /data/ammara-mysql
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ammara-mysql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ""
