apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: mysql-pv
      labels:
        app: marriage-app
    spec:
      capacity:
        storage: 5Gi
      accessModes:
        - ReadWriteOnce
      storageClassName: standard
      persistentVolumeReclaimPolicy: Retain
      hostPath:
        path: /mnt/data/mysql
      claimRef:
        apiVersion: v1
        kind: PersistentVolumeClaim
        name: mysql-pvc
        namespace: default
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: mysql-pvc
      labels:
        app: marriage-app
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
      storageClassName: standard   # Adjust to your cluster's StorageClass